.homeContainer {
  padding: 20px;
}

.buttonContainer {
  float: right;
}

.logoutContainer {
  float: left;
}

#createTodoButton {
  background-color: #20504C;
  border-radius: 6px;
  border: none;
  color: white;
}

.divider {
  margin-top: 50px;
}

.option {
  width: 200px;
}